.button {
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  color: black;
  background-color: gray;
}

.buttonPrimary {
  composes: button;
  color: white;
  background-color: blue;
}
